<div class="row">
	<div class="large-12 columns">
		<f:form.textfield property="customerId" placeholder="{f:translate(key: 'tx_management_domain_model_invoice.customer_id')}" />
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<f:form.textfield property="date" placeholder="{f:translate(key: 'tx_management_domain_model_invoice.date')}" value="{invoice.date->f:format.date()}" />
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<f:form.textfield property="amount" placeholder="{f:translate(key: 'tx_management_domain_model_invoice.amount')}" />
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<f:form.textfield property="paymentDate" placeholder="{f:translate(key: 'tx_management_domain_model_invoice.payment_date')}" />
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<f:form.textfield property="transport" placeholder="{f:translate(key: 'tx_management_domain_model_invoice.transport')}" />
	</div>
</div>
