<table class="tx-management" >
	<tr>
		<td>
			<f:translate key="tx_management_domain_model_invoice.customer_id" />
		</td>
		<td>
			{invoice.customerId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_management_domain_model_invoice.date" />
		</td>
		<td>
			{invoice.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_management_domain_model_invoice.amount" />
		</td>
		<td>
			{invoice.amount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_management_domain_model_invoice.payment_date" />
		</td>
		<td>
			{invoice.paymentDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_management_domain_model_invoice.transport" />
		</td>
		<td>
			{invoice.transport}
		</td>
	</tr>
</table>